/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --base-gr: 1.61803398875;
  --light-gray: #e5e5e5;
  --base-gray: #9b9b9b;
  --dark-gray: #626262;
  --light-black: #343434;
  --black: #141414;
  --white: #fbfbfb;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background-color: #fbfbfb;
  color: #141414;

  overflow-x: hidden;
}

main {
  display: flex;
  padding: 0 1.5rem;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 0 1.5rem;
}

.container {
  width: 100%;
  max-width: 1800px;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* add this for desktop sizes */
  /* display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center; */
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.my-logo {
  min-width: 40px;
  height: 40px;
  margin: 2rem;
  border: 1px solid #141414;
  background-color: #141414;
  border-radius: 2px;
}

#primary-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  flex-direction: column;
  align-items: baseline;
  padding: min(10vh, 10rem) 2em;
  gap: 1.5em;

  backdrop-filter: blur(1rem);

  transform: translateX(100%);
  transition: transform 350ms ease-out;
}

#primary-navigation[data-visible='true'] {
  transform: translateX(0%);
}

#primary-navigation a {
  text-decoration: none;
  color: var(--black);
}

.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 9999;
  /* background-color: transparent;
  background-image: url(); */
  background: red;
  width: 1rem;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
}

.mobile.nav.toggle[aria-expanded='true'] {
  /*   */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.svg-icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.51rem;
  max-height: 1.51rem;
}

.profile-pic {
  width: 18vw;
  height: 18vw;
  min-width: 8rem;
  min-height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fbfbfb;
}

.title {
  font-family: 'Xanh Mono', serif;
  font-size: clamp(
    calc(1rem * var(--base-gr) * var(--base-gr)),
    11.2vw,
    calc(
      1rem * var(--base-gr) * var(--base-gr) * var(--base-gr) * var(--base-gr)
    )
  );
  text-align: center;
  position: relative;
  margin: 50px 0;
}

.subtitle {
  margin: 0;
  font-size: clamp(
    calc(1rem * var(--base-gr)),
    calc(11.2vw / var(--base-gr)),
    calc(1rem * var(--base-gr) * var(--base-gr))
  );
  text-align: center;
}

#about {
  margin: 4rem 0;
}

.line {
  margin: 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--black);
}

#projects {
}

.section-head {
  padding-top: 80px;
  padding-bottom: 60px;
}

.content {
  margin: 0;
  position: relative;
}

.section-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-grid a {
  text-decoration: none;
}

.project-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  height: 900px;
  max-height: 80vh;
  margin-bottom: 60px;
}

.project-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow:
    0 100px 80px rgb(50 50 50 / 10%),
    0 22.3363px 24.1461px rgb(51 51 50 / 4%),
    0 6.6501px 7.51704px rgb(51 51 50 / 1%);
}

.project-img-1 {
  background-image: url(../img/crystal-project-img.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 101%;
  overflow: hidden;
  /* transform-origin: 50% 65%;
  transition: transform 1s, filter .5s ease-in;
  filter:brightness(100%); */
}

.project-img-2 {
  background-image: url(../img/ai-art.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden;
}

.project-img-3 {
}

.item-content {
  margin-top: 20px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  margin: 0;

  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;

  color: var(--black);
}

.subtitle-sm {
  margin: 0;
  margin-top: 0.75rem;

  font-size: 0.6875rem;
  font-weight: 300;
  line-height: 1rem;
  text-transform: uppercase;

  color: var(--black);
}

.count {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1.75rem;
  transform: rotate(-90deg);
  transform-origin: top right;

  font-size: 0.5rem;
  font-weight: 500;

  color: var(--black);
}

@media only screen and (min-width: 760px) {
  /* could just not show this and create a completely new header. */
  #primary-navigation {
    position: unset;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    backdrop-filter: unset;
    transform: translateX(0%);
    transition: none;
  }

  .projects-grid > * {
    flex: 0 1 48%;
  }
  .mobile-nav-toggle {
    display: none;
  }
}
